.jumbo {
    max-width: 70%;
    margin: 5rem auto 0 auto;
    background-color: black;
    display : flex;
    flex-direction: column;
    align-items: center;
}

.jumbo div {
    margin-top: 1rem;
}

.jumbo h2 {
    text-align: center;
    color : grey;
}

.jumbo hr {
    background-color: honeydew;
    opacity: 0.2;
}

.tech-stack img {
    width : 120px;
    padding : 15px;
}

.proficiency { 
    display : flex;
    flex-direction: row;
    justify-content: space-between;
}

.commit-hist {
    margin-top: 5rem;
}