@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0;
    background: rgb(19, 19, 19);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

* {
  font-family:'Montserrat', sans-serif;
}


.about img {
  transition: all 500ms;
} 

.about img:hover {
  transform: translateY(-3px) scale(1.05);
}

i {
  transition: all 200ms;
}

i:hover{
  transform: translateY(-3px) scale(1.2);
}

